README
bin/*
etc/camus/*
etc/confluent-control-center/*
etc/confluent-rebalancer/*
etc/kafka-connect-activemq/*
etc/kafka-connect-elasticsearch/quickstart-elasticsearch.properties.orig
etc/kafka-connect-hdfs/*
etc/kafka-connect-ibmmq/*
etc/kafka-connect-jdbc/*
etc/kafka-connect-jms/*
etc/kafka-connect-replicator/*
etc/kafka-connect-s3/*
etc/kafka-rest/*
etc/kafka/connect-console-sink.properties
etc/kafka/connect-console-source.properties
etc/kafka/connect-distributed.properties.orig
etc/kafka/connect-file-source.properties
etc/kafka/connect-log4j.properties
etc/kafka/connect-standalone.properties.orig
etc/kafka/log4j.properties
etc/kafka/tools-log4j.properties
etc/kafka/zookeeper.properties
etc/ksql/*
etc/schema-registry/*
hist
lib/*
logs/*
share/*
src/*
ui/*

