# source.config
#
# list of brokers used for bootstrapping knowledge about the rest of the cluster
# format: host1:port1,host2:port2 ...
bootstrap.servers=fab-storlab-logstash-h4-3:9092
# consumer group id
group.id=test-consumer-group
exclude.internal.topics=true
# What to do when there is no initial offset in Kafka or if the current
# offset does not exist any more on the server: latest, earliest, none
auto.offset.reset=earliest

# partition.assignment.strategy=org.apache.kafka.clients.consumer.RoundRobinAssignor

